[submodule "test/googlemock"]
	path = test/googlemock
	url = https://chromium.googlesource.com/external/googlemock.git
[submodule "test/googletest"]
	path = test/googletest
	url = http://git.chromium.org/external/googletest.git
